@import "../styles/variables.scss";

.custom_white_color {
  color: $white_color !important;
}

.custom_blue_color {
  color: $custom_blue !important;
}

.custom_grey_color {
  color: $custom_grey !important;
}

.custom_red_color {
  color: $custom_red !important;
}

.custom_black_color {
  color: black !important;
}

.custom_green_color {
  color: #1fc933 !important;
}

.custom_cyan_color {
  color: #00ffeb !important;
}
