@import "../styles/colors.scss";

.custom_image {
  width: 100%;
  height: 100%;
}

.custom_link {
  display: inline-block;
  color: $custom_blue;
  cursor: pointer;
  margin: 0px 5px 0px;
}

.profile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.bold_text {
  font-weight: bold;
}

.custom_icon {
  font-size: 20px;
  color: $custom_blue !important;
}

.custom_icon_2 {
  font-size: 30px !important;
  color: $custom_blue !important;
}

.header_text {
  font-size: 2rem;
  margin: 20px 0px 20px;
  font-weight: bold;
}

.sub_header_text {
  font-size: 1.3rem;
  font-weight: bold;
}

.big_text {
  font-size: 1rem;
}

.custom_input {
  font-weight: normal;
  margin-bottom: 20px;
  h3 {
    color: $custom_grey;
  }
  input {
    display: block;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    padding: 0px 10px 0px;
    margin: 10px 0px 10px;
    border: 1px solid $custom_grey;
  }
  div {
    margin: 10px 0px 5px;
    color: $custom_red;
  }
}

.custom_inline_input {
  display: inline;
  width: 400px;
  height: 50px;
  border-radius: 4px !important;
  padding: 0px 10px 0px;
  margin: 10px 0px 10px;
  border: 1px solid $custom_grey;
}

.aligned_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom_blue_overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b27afc7 !important;
}

.profile_div {
  display: flex;
  border-bottom: 1px solid rgb(225, 235, 255);
  border-right: 1px solid rgb(225, 235, 255);
  padding: 20px 9px 20px;
  div {
    padding: 10px 10px 0px;
    transition: 0.5s ease;
  }
}

.white_background {
  background-color: $white_color !important;
  color: $custom_blue !important;
}

.ant-menu-item {
  display: flex !important;
  align-items: center !important;
  padding: 40px 20px 40px !important;
  margin: 0 !important;
  span {
    font-size: 1rem !important;
    font-weight: 600;
    color: $custom_blue;
  }
  span:first-child {
    font-size: 30px !important;
    margin-right: 20px;
  }
}

.ant-menu-item-selected {
  background-color: $custom_blue !important;
  span {
    color: $white_color !important;
  }
}

.ant-layout-sider-trigger {
  background-color: $white_color !important;
  color: $custom_blue !important;
  font-size: 25px;
}

.ant-layout-sider-collapsed {
  width: 200px !important;
}

.slider_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white_color !important;
  border-bottom: 1px solid rgb(225, 235, 255) !important;
  height: 102px !important;
  div {
    display: flex;
    align-items: center;
  }
}

.align_icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  span {
    display: inline-block;
    margin: 0px 10px 0px;
  }
}

.custom_card {
  box-shadow: 0 1px 3px rgba(94, 94, 94, 0.12),
    0 1px 2px rgba(116, 116, 116, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 20px !important;
  border-radius: 4px !important;
}

.custom_overflow {
  height: 89vh;
  overflow-y: scroll;
}

.custom_overflow::-webkit-scrollbar {
  display: none;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
}
.react-calendar__navigation {
  margin-bottom: 60px !important;
}
.react-calendar__navigation__label {
  &:hover {
    background-color: transparent !important;
  }
}
.react-calendar__navigation__arrow {
  font-size: 40px;
  color: $custom_grey;
  &:hover {
    background-color: transparent !important;
  }
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none !important;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none !important;
}
.react-calendar__navigation__label {
  font-size: 1.2rem;
  font-weight: semi-bold;
}
.react-calendar__month-view__weekdays__weekday {
  color: $custom_grey;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.react-calendar__tile {
  padding: 20px !important;
}
.react-calendar__tile--active {
  background-color: #1fc933 !important;
}
.react-calendar__tile--now {
  background-color: #1fc933 !important;
}

.button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background-color: #1fc933 !important;
  color: white;
  border-radius: 50%;
}
